ProductionAppEnv.env
ProductionDatabaseEnv.env


CityDistanceService/nginx/certs
CityDistanceService/nginx/nginx.conf


CityDistanceService/elasticsearch/data
CityDistanceService/redis_data

CityDistanceService/bin
CityDistanceService/obj
CityDistanceService/Proto

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env
*.bat


