ProductionAppEnv.env
ProductionDatabaseEnv.env


CityDistanceService/nginx/certs
CityDistanceService/nginx/nginx.conf

CityDistanceService/elasticsearch/data
# CityDistanceService/elasticsearch/data/_state
# CityDistanceService/elasticsearch/data/indices
# CityDistanceService/elasticsearch/data/snapshot_cache

CityDistanceService/bin
CityDistanceService/obj
CityDistanceService/Proto

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env
*.bat


