data/caddy_data/*
!data/caddy_data/.gitkeep
data/caddy_config/*
!data/caddy_config/.gitkeep
data/esdata/*
!data/esdata/.gitkeep
data/cities_data/*
!data/cities_data/.gitkeep

cities_data/
test/

.caddy.env
DefaultAppEnv.env
DefaultDatabaseEnv.env

bin/
obj/
*.user

data/app/*
!data/app/.gitkeep
data/elasticsearch/*
!data/elasticsearch/.gitkeep
data/mysql/*
!data/mysql/.gitkeep