data/caddy_data/*
!data/caddy_data/.gitkeep
data/caddy_config/*
!data/caddy_config/.gitkeep
data/esdata/*
!data/esdata/.gitkeep

/cities_data

.caddy.env
DefaultAppEnv.env
DefaultDatabaseEnv.env

bin/
obj/
*.user

data/app/*
data/elasticsearch/*
data/mysql/*
data/caddy/*