# Global options block
{
    email email@gmail.com
    debug
}

cds.moojtube.com:8443 {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    reverse_proxy cds-app:8080
}

# Backup site for cds2 subdomain (in case it points here)
cds2.moojtube.com:8443 {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    reverse_proxy cds-app:8080
}
