# Global options block
{
    email email@gmail.com
    debug
}

cds.moojtube.com:8443 {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    @cors_preflight method OPTIONS
    handle @cors_preflight {
        header Access-Control-Allow-Origin "https://jimbimbombom.github.io"
        header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Max-Age "86400"
        respond 204
    }

    header Access-Control-Allow-Origin "https://jimbimbombom.github.io"

    reverse_proxy city_distance_service_cds-app:8080
}
