services:
    # app:
    #     image: jimbimdocker/city-distance-service:latest
    #     container_name: city_distance_service_app
    #     env_file: 
    #         - path: "DefaultAppEnv.env"
    #           required: true # default env file
    #         - path: "ProductionAppEnv.env"
    #           required: false # production env file -> overrides values from DefaultAppEnv.env if set
    #     ports:
    #         - "8080:8080"
    #     depends_on:
    #         - db
    #     networks:
    #         - cdsNetwork

    app:
        build:
            context: .
            dockerfile: Dockerfile.App
        container_name: city_distance_service_app
        env_file: 
            - path: "DefaultAppEnv.env"
              required: true # default env file
            - path: "ProductionAppEnv.env"
              required: false # production env file -> overrides values from DefaultAppEnv.env if set
        ports:
            - "8080:8080"
        depends_on:
          - db
          - elasticsearch
        networks:
            - cdsNetwork

    db:
        image: mysql:latest
        container_name: cds_mysql_db
        env_file: 
            - path: "DefaultDatabaseEnv.env"
              required: true # default env file
            - path: "ProductionDatabaseEnv.env"
              required: false # production env file -> overrides values from DefaultDatabaseEnv.env if set
        networks:
            - cdsNetwork
        volumes:
            - ./MySQLInit.sql:/docker-entrypoint-initdb.d/init.sql
        
    elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
      container_name: elasticsearch
      environment:
        - ELASTIC_PASSWORD=testPassword123
        - node.name=elasticsearch
        - discovery.type=single-node
        - bootstrap.memory_lock=true
        - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      ulimits:
        memlock:
          soft: -1
          hard: -1
      volumes:
        - esdata:/usr/share/elasticsearch/data
      ports:
        - "9200:9200"
      networks:
        - cdsNetwork
    
    caddy:
        build: 
            context: .
            dockerfile: Dockerfile.Caddy
        container_name: caddy
        restart: unless-stopped
        env_file:
            - .caddy.env
        environment:
            - TZ=Europe/London
        ports:
            - "8443:8443" 
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile # Mounts your Caddy config
            - caddy_data:/data # Caddy stores certificates here
            - caddy_config:/config # Caddy stores other configs here
        networks:
            - cdsNetwork

networks:
    cdsNetwork: {}

volumes:
    db_data: 
    caddy_data: # Define the new named volumes
    caddy_config:
    esdata:
