services:
    app:
        build:
            context: .
            dockerfile: Dockerfile.App
        container_name: city_distance_service_app
        env_file: 
            - path: "DefaultAppEnv.env"
              required: true # default env file
            - path: "ProductionAppEnv.env"
              required: false # production env file -> overrides values from DefaultAppEnv.env if set
        ports:
            - "8080:8080"
        depends_on:
            - db
        networks:
            - cdsNetwork

    db:
        image: mysql:latest
        container_name: cds_mysql_db
        env_file: 
            - path: "DefaultDatabaseEnv.env"
              required: true # default env file
            - path: "ProductionDatabaseEnv.env"
              required: false # production env file -> overrides values from DefaultDatabaseEnv.env if set
        networks:
            - cdsNetwork
        volumes:
            - ./MySQLInit.sql:/docker-entrypoint-initdb.d/init.sql
    
    caddy:
        build:
            context: .
            dockerfile: Dockerfile.Caddy
        container_name: caddy_cds
        restart: unless-stopped
        ports:
            - "8443:443"
        env_file:
            - .caddy.env
        environment:
            TZ: Europe/Budapest
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile:ro
            - ./caddy_data:/data
            - ./caddy_config:/config
        networks:
            - cdsNetwork

networks:
    cdsNetwork: {}

volumes:
    db_data: {}

