services:
    # app:
    #     image: jimbimdocker/city-distance-service:latest
    #     container_name: city_distance_service_app
    #     env_file: 
    #         - path: "DefaultAppEnv.env"
    #           required: true # default env file
    #         - path: "ProductionAppEnv.env"
    #           required: false # production env file -> overrides values from DefaultAppEnv.env if set
    #     ports:
    #         - "8080:8080"
    #     depends_on:
    #         - db
    #     networks:
    #         - cdsNetwork

    app:
        build:
            context: .
            dockerfile: Dockerfile.App
        container_name: city_distance_service_app
        env_file: 
            - path: "DefaultAppEnv.env"
              required: true # default env file
            - path: "ProductionAppEnv.env"
              required: false # production env file -> overrides values from DefaultAppEnv.env if set
        ports:
            - "8080:8080"
        depends_on:
            - elasticsearch
        networks:
            - cdsNetwork

    caddy: # Renamed service from swag to caddy
        build: 
            context: .
            dockerfile: Dockerfile.Caddy
        container_name: caddy
        restart: unless-stopped
        env_file:
            - .caddy.env
        environment:
            - TZ=Europe/London
        ports:
            - "8443:8443" 
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile # Mounts your Caddy config
            - caddy_data:/data # Caddy stores certificates here
            - caddy_config:/config # Caddy stores other configs here
        networks:
            - cdsNetwork

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.17.2
        container_name: elasticsearch
        restart:
            - unless-stopped
        environment: 
            - discovery.type=single-node
            - ELASTIC_PASSWORD=secretPwd123 # TODO: remove hardcoded password, probably will be managed through an env file
        ports:
            - "9200:9200"
        networks:
            - cdsNetwork
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - es_data:/usr/share/elasticsearch/data 

networks:
    cdsNetwork: {}

volumes:
    es_data: {}
    caddy_data: # Define the new named volumes
    caddy_config:

      
    # redis:
    #   image: redis:latest
    #   container_name: redis
    #   ports:
    #       - "6379:6379"
    #   networks:
    #       - cdsNetwork
    #   volumes:
    #       - ./redis_data:/data
