services:
    app:
        build:
            context: .
            dockerfile: Dockerfile.App
        container_name: city_distance_service_app
        env_file: 
            - path: "DefaultAppEnv.env"
              required: true
            - path: "ProductionAppEnv.env"
              required: false
        ports:
            - "8080:8080"
        depends_on:
          - db
          - elasticsearch
        networks:
            - cdsNetwork
        volumes:
            - ./data/app/logs:/app/logs
        restart: unless-stopped

    db:
        image: mysql:latest
        container_name: cds_mysql_db
        env_file: 
            - path: "DefaultDatabaseEnv.env"
              required: true
            - path: "ProductionDatabaseEnv.env"
              required: false
        networks:
            - cdsNetwork
        volumes:
            - ./MySQLInit.sql:/docker-entrypoint-initdb.d/init.sql
            - ./data/mysql:/var/lib/mysql  # Persistent database storage
        restart: unless-stopped
        
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
        container_name: elasticsearch
        environment:
            - ELASTIC_PASSWORD=testPassword123
            - node.name=elasticsearch
            - discovery.type=single-node
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
            - xpack.security.enabled=false
            - http.max_content_length=200mb
            - http.cors.enabled=true
            - cluster.routing.allocation.disk.threshold_enabled=true
            - cluster.routing.allocation.disk.watermark.low=95%
            - cluster.routing.allocation.disk.watermark.high=97%
            - cluster.routing.allocation.disk.watermark.flood_stage=98%
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - ./data/elasticsearch:/usr/share/elasticsearch/data
        ports:
            - "9200:9200"
        networks:
            - cdsNetwork
        restart: unless-stopped
    
    caddy:
        build: 
            context: .
            dockerfile: Dockerfile.Caddy
        container_name: caddy
        env_file:
            - .caddy.env
        environment:
            - TZ=Europe/London
        ports:
            - "8443:8443" 
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile
            - ./data/caddy/data:/data  # SSL certificates and other data
            - ./data/caddy/config:/config  # Caddy configuration cache
        networks:
            - cdsNetwork
        restart: unless-stopped

networks:
    cdsNetwork: {}
